<div class="back-tests-run-new-test">
  <%= link_to(new_strategy_path)  do %>
    <div class="back-tests-run-new-test-icon-container">
      <div class="visible-corner left-visible-corner"></div>
      <div class="visible-corner right-visible-corner"></div>
      <div class="invisible-corner left-invisible-corner"></div>
      <div class="invisible-corner right-invisible-corner"></div>
      <%= image_tag("icons/plus-circle-icon.svg", class: "back-tests-run-new-test-icon") %>
    </div>
  <% end %>
</div>