<div class="page-title-text">Create New Strategy</div>
<div class="page-horizontal-divider"></div>

<div class="list-container">
  <%= render partial: "strategy_form", locals: { strategy: @strategy } %>
</div>