<div class="page-title-text">Edit BackTest</div>
<div class="page-horizontal-divider"></div>

<div class="list-container">
  <%= form_for @back_test, url: clone_back_test_path do |f| %>
    <div class="list-item">
      <%= render partial: "back_test_form", locals: { back_test: @back_test, f: f } %>

      <div class="list-row-item">
        <%= f.submit class: "submit-btn" %>
      </div>
    </div>
  <% end %>
</div>